@import '../../styles/variables';
@import '../../styles/common';

.selectWrapper {
  position: absolute;
  right: 0;
  top: 0;

  @media only screen and (max-width: $tablet) {
    position: relative;
  }

  &.forcedMobile {
    @media only screen and (max-width: $tablet) {
      display: flex;
      right: auto;
      left: 0;
    }
  }
}