@import "../../styles/variables";
@import "../../styles/common";

.footerWrapper {
  margin-top: 50px;
  width: 100%;
  padding: 56px 40px 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #F9F7F3;

  @media only screen and (max-width: $laptop){
    padding: 40px $gapS;
  }
}

.footerTopPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLogo {
  @media only screen and (max-width: $mobile){
    max-width: 165px;
  }
}

.footerVersion {
  font-size: $size18;

  @media only screen and (max-width: $mobile){
    font-size: 1rem;
  }
}

.footerColumnsWrapper {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.footerColumn {
  width: 25%;
  line-height: 1.7;

  @media only screen and (max-width: $laptop){
    width: 50%;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: $mobile){
    width: 100%;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footerColumnTitle {
  color: $colorBlue;
  margin-bottom: 8px;
}

.footerLink {
  color: $colorBlack;

  &:hover {
    text-decoration: underline;
  }
}

.footerSocialWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerSocial {

  &.slack {
    content: url("../../public/svg/social-slack.svg")
  }

  &.linkedin {
    content: url("../../public/svg/social-linkedin.svg")
  }

  &.github {
    content: url("../../public/svg/social-github.svg")
  }

  &.twitter {
    content: url("../../public/svg/social-twitter.svg")
  }

}

.footerBottomPart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.footerBottomColumn {
  width: 50%;

  @media only screen and (max-width: $laptop){
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: $tablet) {
    width: 100%;
  }
}

.footerIframe {
  height: 400px;
  width: 100%;
  max-width: 540px;
  margin-left: -20px;
  margin-bottom: -60px;

  @media only screen and (max-width: $tablet){
    width: 100%;
    height: 450px;
    margin-left: 0;
  }
}

.footerOpenSource {
  margin-bottom: 35px;
}

.footerMigros {
  margin-bottom: 35px;
  width: 350px;
}

.footerBottomTextWrapper {
  display: flex;
  align-items: flex-start;
}

.footerText {
  font-size: $size12;
  padding-left: $gapS;
}

.footerTextLink {
  color: $colorBlack;
  text-decoration: underline;
}