@import '../../styles/variables';
@import '../../styles/common';

.menuWrapper {
  width: 270px;
  height: 100vh;
  position: sticky;
  z-index: 3000;
  top: 0;
  left: 0;
  background: $colorWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: $gapM $gapS;
  border-radius: 0px 2px 2px 0px;
  line-height: 1;
  transition: opacity 400ms;
  background: $colorBeige;

  @media only screen and (max-width: $laptop) {
    left: -100%;
    position: fixed;
    opacity: 0;
    border-radius: 0px 16px 16px 0px;

    &.enterActive {
      left: 0;
    }

    &.enterDone {
      left: 0;
      opacity: 1;
    }

    &.exitActive {
      left: 0;
      opacity: 0;
    }

    &.exitDone {
      left: -100%;
    }
  }
}

.logo {
  position: relative;
  left: 0;

  img {
    max-width: 100%;
  }

  @media only screen and (max-width: $laptop) {
    width: 133px;
    height: 28px;
  }
}

.menu {
  width: 100%;
}

.menuSeparator {
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}

.menuItem {
  border-radius: 40px;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 44px;
  margin-bottom: 8px;
  font-size: $size18;
  color: $colorBlack;
  transition: 0.25s;
  position: relative;

  &.active {
    font-weight: 500;
    background: rgba(0, 0, 0, 0.05);
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:before {
    display: inline-flex;
    position: absolute;
    left: 12px;
    top: 12px;
  }

  &.explore {
    &:before {
      content: url("../../public/svg/menu-explore.svg");
    }
  }
  
  &.about {
    &:before {
      content: url("../../public/svg/menu-about.svg");
    }
  }

  &.submissions {
    &:before {
      content: url("../../public/svg/menu-submissions.svg");
    }
  }
  
  &.bookmarks {
    &:before {
      content: url("../../public/svg/menu-bookmarks.svg");
    }
  }
  
  &.votings {
    &:before {
      content: url("../../public/svg/menu-votings.svg");
    }
  }
}

.menuFooterLink {
  display: block;
  padding: 4px 0;
  margin-bottom: 4px;
  font-size: $size13;
  text-decoration: underline;
  color: $colorBlack;

  &:hover {
    text-decoration: none;
  }
}

.closeButton {
  width: 50px;
  height: 40px;
  margin-right: 8px;
  position: relative;
  top: -1px;
  background: url('../../public/svg/close.svg');
  cursor: pointer;

  @media only screen and (min-width: $laptop) {
    display: none;
  }
}

.logoWrapper {
  @media only screen and (max-width: $laptop) {
    display: flex;
    align-items: center;
    position: relative;
    top: -3px;
  }
}

.authButton {
  @media only screen and (min-width: $laptop) {
    display: none;
  }
}

.forcedMobile {
  &.menuWrapper {
    left: -100%;
    position: fixed;
    opacity: 0;

    &.enterActive {
      left: 0;
    }

    &.enterDone {
      left: 0;
      opacity: 1;
    }

    &.exitActive {
      left: 0;
      opacity: 0;
    }

    &.exitDone {
      left: -100%;
    }
  }

  .logo {
    left: 0;
    width: 133px;
    height: 28px;
  }

  .closeButton {
    display: inline-block;
  }

  .logoWrapper {
    display: flex;
    align-items: center;
    position: relative;
    top: -3px;
  }
}

.overlay {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.2);
  display: none;

  &.enterActive {
  }

  &.enterDone {
    display: block;
  }

  &.exitActive {
  }

  &.exitDone {
    display: none;
  }
}

.authButtonsWrapper {
  margin-bottom: 16px;
}

.menuFooter {
  width: 100%;
}