@import '../../styles/variables';
@import '../../styles/common';

.welcomeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 50px);
  min-height: 680px;
  background: url("../../public/star-bg.png") no-repeat center right;

  @media only screen and (max-width: $tablet) {
    height: auto;
    padding-top: 120px;
    background: none;
  }
}

.title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  font-style: normal;
  letter-spacing: -2px;

  @media only screen and (max-width: $tablet) {
    font-size: 3.5rem;

    br {
      display: block;
    }
  }
}

.subtitle {
  font-size: $size24;
  max-width: 540px;
  margin-top: $gapS;

  @media only screen and (max-width: $tablet) {
    font-size: $size20;
  }
}

.buttonsWrapper {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

.startButton {
  @extend .buttonPrimary;

  margin-right: 20px;

  &:after {
    margin-left: 10px;
    position: relative;
    top: 2px;
    content: url('../../public/svg/arrow-down.svg');
  }
}

.benefitsWrapper {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
}

.benefit {
  width: 29%;
  max-width: 300px;
  margin-right: 24px;
  padding: 100px 30px 0 0;
  position: relative;

  @media only screen and (max-width: $tablet) {
    margin: 0 0 47px;
    padding: 0 0 0 75px;
    max-width: auto;
    width: 100%;
  }
}

.benefitIcon {
  position: absolute;
  left: 0;
  top: 0;

  @media only screen and (max-width: $tablet) {
    transform: scale(0.85);
    top: -15px;
  }
}

.benefitTitle {
  font-size: $size18;
  font-weight: 600;
  margin-bottom: 4px;
}

.benefitDescription {
  font-size: $size18;
}
