@import "../../styles/variables";
@import "../../styles/common";

.selectContainer {
 position: relative;
 height: 32px;
 width: 250px;
}

.selectWrapper {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  z-index: 500;

  &.forcedMobile {
    display: none;

    @media only screen and (max-width: $tablet) {
      display: flex;
      right: auto;
      left: 0;
    }
  }
}

.select {
  border-radius: 2px;
  background: $colorWhite;
  font-family: $secondaryFont;
  position: relative;
  min-width: 150px;
  overflow: hidden;
  border: 1px solid $colorWhite;

  &.rounded {
    border: 1px solid #ccc;
  }

  &.open {
    box-shadow: 0px 2px 25px rgba(0, 48, 75, 0.2);

    .selectedOption {
     &:after {
      transform: rotate(0deg);
     }
    }
  }
}

.currentOption {
  padding: 0 46px 0 14px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  position: relative;

  &:after {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 6px;
    transform: rotate(180deg);
    content: url("../../public/svg/select-arrow.svg");
  }
}

.optionsList {
  padding: 4px;
  top: 36px;
  left: 0;
  background: $colorWhite;
  width: 100%;
}

.option {
  border-radius: 2px;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.applyButton {
  @extend .buttonPrimary;

  width: 44px;
  height: 32px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: url("../../public/svg/checkMarkIcon.svg");
    width: 20px;
    height: 20px;
  }
}