@import "../../styles/variables";
@import "../../styles/common";

.filtersSidebar {
  padding: 40px 40px $gapXL 40px;
  font-size: $size14;
  font-family: $secondaryFont;
  font-weight: 400;
  width: 290px;
  top: 50px;
  min-height: 95vh;
  position: sticky;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $tablet){
    display: none;
  }
}

.filtersSection {
  margin-top: $gapL;
}

.filtersTitle {
  font-weight: 400;
  margin-bottom: $gapXxs;
}

.filterButton {
  @extend .buttonWhite; 
  
  padding: 0 $gapXs;
  margin-bottom: $gapXxs;
  white-space: nowrap;

  &:hover {
    background: rgba(0, 108, 123, 0.05);
  }

  &:after {
    margin-left: 4px;
    position: relative;
    top: 2px;
    content: url("../../public/svg/plus-black.svg");
  }

  &.active {
    background: rgba(0, 108, 123, 0.4);

    &:after {
      content: url("../../public/svg/cros.svg");
    }
  }
}

.textWrapper {
  margin-top: auto;
  position: relative;
  padding-top: 40px;
  
  &:before {
    width: 45px;
    height: 1px;
    top: 40px;
    background: $colorBlack;
    display: block;
    content: "";
  }
}

.text {
  font-family: $mainFont;
  font-size: 1rem;
  line-height: 1.2;
  padding: $gapS 0 $gapXL;
}

.applyButton {
  @extend .buttonPrimary;

  width: 100%;
  margin-top: 8px;
}