@import "../../styles/variables";
@import "../../styles/common";

.mobileFiltersWrapper {
  padding: $gapXxs 0;

  @media only screen and (min-width: $tablet) {
    display: none;
  }
}

.buttonsWrapper {
  height: 40px;
  position: relative;
  border-bottom: 1px solid $colorBlack;
  margin-bottom: $gapXxs;
}

.totalCounter {
  display: inline-flex;
  font-family: $secondaryFont;
  font-weight: 400;
  font-size: $size14;
}

.filtersViewport {
  position: fixed;
  z-index: 2000;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 280px;
  background: $colorWhite;
  padding: $gapS;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s;
  font-family: $secondaryFont;

  &.enterActive {
    right: 0;
  }

  &.enterDone {
    right: 0;
    opacity: 1;
  }

  &.exitActive {
    right: 0;
    opacity: 0;
  }

  &.exitDone {
    right: -100%;
  }
}

.filtersTitle {
  font-weight: 600;
  text-align: center;
  font-size: $size18;
}

.filtersHeader {
  position: relative;
  display: flex;
  justify-content: center;
}

.cancelButton {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 400;
  margin-left: auto;
  cursor: pointer;

  &:before {
    position: relative;
    left: -4px;
    top: 2px;
    content: url("../../public/svg/cros.svg");
  }
}

.filtersListWrapper {
  margin-top: 30px;
  font-weight: 400;
}

.filtersSubtitle {
  margin-bottom: 8px;
  width: 100%;
}

.filtersList {}

.filterItem {
  padding: 0 $gapXs;
  background: $colorWhite;
  border: 1px solid $colorBlack;
  font-family: $secondaryFont;
  height: 32px;
  border-radius: 16px;
  font-size: 1rem;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;

  &:after {
    margin-left: 4px;
    position: relative;
    top: 2px;
    content: url("../../public/svg/plus-black.svg");
  }

  &.active {
    background: rgba(0, 108, 123, 0.4);

    &:after {
      content: url("../../public/svg/cros.svg");
    }
  }
}

.applyButton {
  @extend .buttonPrimary;

  margin-top: 16px;
  width: 100%;
}

.filterButton {
  position: absolute;
  right: 0;
  top: 0;
  @extend .buttonWhite;

  &:before {
    position: relative;
    top: 2px;
    content: url("../../public/svg/filter.svg");
    margin-right: 4px;
  }
}

.filterCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: $colorWhite;
  background: $colorBlue;
  font-size: $size12;
  margin-left: 8px;
}