@import '../../styles/variables';
@import '../../styles/common';

.modalViewport {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}

.modalWrapper {
  background: $colorWhite;
  width: 100%;
  max-width: 450px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: $gapS;

  @media only screen and (max-width: $mobile) {
    width: calc(100% - 80px);
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $gapXxs;
}

.modalTitle {
  font-size: $size18;
  font-weight: 600;
  max-width: calc(100% - 100px);

  &.titleIcon {
    position: relative;
    padding-left: 28px;

    &:before {
      display: inline-flex;
      position: absolute;
      left: 0;
      top: -1px;
      content: url('../../public/svg/question.svg');
    }
  }
}

.cancelButton {
  @extend .buttonWhite;

  &:before {
    content: url('../../public/svg/cros.svg');
    top: 2px;
    right: 2px;
    position: relative;
  }
}
