@import "./functions.scss";

// COLORS
$colorBlack: #000000;
$colorBeige: #F9F7F3;
$colorBlue: #4155F5;
$colorWhite: #ffffff;
$colorRed: #FF4938;
$colorYellow: #FFEA96;

// FONTS
$mainFont: "Work Sans"; 
$secondaryFont: "Work Sans";
$size12: 0.75rem;
$size13: 0.8125rem;
$size14: 0.875rem;
$size18: 1.125rem;
$size20: 1.25rem;
$size22: 1.375rem;
$size24: 1.5rem;
$size32: 2rem;

// PADDINGS GAPS
$gapXxs: pxToRem(8);
$gapMxs: pxToRem(10);
$gapXs: pxToRem(12);
$gapS: pxToRem(16);
$gapM: pxToRem(20);
$gapL: pxToRem(26);
$gapXL: pxToRem(32);

// BREAKPOINTS
$desktop: 1500px;
$laptop: 1200px;
$tablet: 900px;
$mobile: 600px;