@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
@import './reset.scss';
@import './variables.scss';
@import './common.scss';

html,
body {
  color: $colorBlack;
  background: $colorBeige;
  font-family: $mainFont, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3;
  scroll-behavior: smooth;
  scroll-padding-top: 40px;

  @media only screen and (max-width: $mobile) {
    scroll-padding-top: 70px;
  }
}
