@import './common.scss';

// INDEX
.title {
  font-size: $size32;
  font-weight: 500;
  margin-bottom: $gapS;

  @media only screen and (max-width: $mobile) {
    font-size: $size24;
  }
}

.text {
  margin-bottom: $gapS;
}

.quote {
  padding: $gapS;
  margin-bottom: $gapS;
  background: rgba(77, 159, 255, 0.1);
  border-radius: 2px;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
}

.quoteText {
  padding-left: $gapXxs;
  border-left: 1px solid rgba(0, 0, 0, 0.8);

  strong {
    font-weight: 500;
  }
}

.note {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: $gapS;
}

// LINK TAB
.linkPreviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $secondaryFont;
  font-size: $size14;
  margin-bottom: 60px;

  @media only screen and (max-width: $mobile) {
    margin-bottom: 8px;
  }
}

.linkPreviewWrapper {
  width: 100%;
  max-width: 516px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

// CATEGORY TAB
.categoryDescription {
  line-height: 1.3;
  font-weight: 400;
  padding: $gapS 0;
}

.categoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $secondaryFont;
  font-size: $size14;
  font-weight: 500;
}

.categorysWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.categoryButton {
  @extend .buttonWhite;

  padding: 0 $gapXs;
  margin: 0 $gapXxs $gapXxs 0;
  white-space: nowrap;
  border: 1px solid $colorBlack;

  &:hover {
    background: rgba(0, 108, 123, 0.05);
  }

  &:after {
    margin-left: 4px;
    position: relative;
    top: 2px;
    content: url('../public/svg/plus-black.svg');
  }

  &.active {
    background: rgba(65, 85, 245, 0.1);

    &:after {
      content: url('../public/svg/cros.svg');
    }
  }
}

.inputNote {
  font-size: $size14;
  font-weight: 400;
  margin-top: -16px;
}

// STATEMENT TAB
.statementDescription {
  line-height: 1.3;
  font-weight: 400;
  padding: $gapS 0 0;

  p {
    margin-bottom: 8px;
  }
}

.textareaLabel {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 16px;
}

.textarea {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  width: 100%;
  height: 120px;
  resize: none;
  font-family: $secondaryFont;
  padding: $gapXxs;
  font-size: 16px;

  &:focus {
    border-color: $colorBlue;
  }
}

// SUCCESS
.successWrapper {
  text-align: center;
  padding-top: 40px;

  @media only screen and (max-width: $mobile) {
    padding-top: 0;
  }
}

.successTitle {
  font-weight: 500;
  font-size: $size24;
  margin-bottom: 16px;

  &:before {
    display: block;
    content: '✨';
    font-size: 90px;
  }
}

.successMessageWrapper {
  margin-bottom: 16px;
}

.successMessage {
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.3;
}

.successLink {
  color: #264f80;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

// MODALS
.modalText {
  font-family: $secondaryFont;
  font-weight: 400;
  margin-bottom: $gapS;

  &:last-child {
    margin-bottom: 0;
  }
}

.modalLink {
  text-decoration: underline;
  cursor: pointer;
  color: $colorBlack;

  &:hover {
    text-decoration: none;
  }
}

.modalCategoryItem {
  margin-bottom: $gapS;
  font-family: $secondaryFont;
}

.modalCategoryName {
  font-weight: 600;
  margin-bottom: 4px;
}

.modalCategoryDescription {
  font-weight: 400;
}
