@import '../../styles/variables';
@import '../../styles/common';

.articleItem {
  height: 312px;
  // width: 348px;
  background: $colorWhite;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin-bottom: $gapS;
  display: flex;
  flex-direction: column;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  overflow: hidden;

  @media only screen and (max-width: $mobile) {
    height: 175px;
    flex-direction: row-reverse;
    // width: 100%;
  }
}

.articleCover {
  height: 175px;
  width: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;

  @media only screen and (max-width: $mobile) {
    width: 50%;
  }
}

.articleInfoWrapper {
  padding: $gapS;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  flex-grow: 1;

  @media only screen and (max-width: $mobile) {
    width: 50%;
    flex-grow: 0;
  }
}

.articleTitle {
  max-width: 100%;
  font-weight: 500;
  line-height: 1.2;
  height: 67px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  color: $colorBlack;
}
