@import "../../styles/variables";
@import "../../styles/common";

.mobileHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0 $gapS;

  @media only screen and (min-width: $laptop) {
    display: none;

    &.forcedMobile {
      display: flex;
    }
  }
}

.hamburger {
  width: 50px;
  height: 40px;
  background: url("../../public/svg/hamburger.svg");
  margin-right: 8px;
  cursor: pointer;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logoLink {
  display: inline-flex;
  width: 133px;
  height: 28px;
}

.logo {
  max-width: 100%;
  position: relative;
  top: 1px;
}